table {
    width: 80vw;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    border: solid;
    border-width: 1px 0;
}

#request-content {
    display: flex;
    justify-content: center;
}
